@import 'variables';
@import 'mixins';

footer.sitefooter {
  background-color: map-get($colors, kati-forner--black);
  display: flex;

  .sitefooter {
    &-wrapper {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        line-height: 1;
        display: flex;
      }

      h1 a {
        color: map-get($colors, kati-forner--cream);
        font-family: $font--Nanum;
        font-weight: 400;
        font-size: 3.6vmin;
        transition: $transition-eo;

        &:hover {
          color: map-get($colors, kati-forner--white);
        }
      }
    } // END &-wrapper
  } // END .sitefooter
} // END footer.sitefooter
