header.sitemast {
  position: relative;
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  & > * {
    width: 50%;
    align-self: center;
    z-index: 1000;
  }

  h2 {
    text-align: center;
    font-size: 18vmin;
    font-weight: 400;
    letter-spacing: 1.414rem;
  }

  hr {
    border: 0.5px solid map-get($colors, kati-forner--red);
    margin-top: 1.75em;
    margin-bottom: 2em;
  }

  h2,
  p {
    color: map-get($colors, kati-forner--white);
    line-height: 1;
  }

  p {
    text-align: center;
    text-transform: lowercase;
    font-size: 4.2vmin;
    letter-spacing: 0.64em;
    width: 100%;
  }
}
