header.sitemast {
  position: relative;
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  transform: translateY(3vmax);

  @include media__min-width(map-get($break-point, lg)) {
    padding: 0;
  }

  @include media__max-width(map-get($break-point, md)) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @include media__max-width(map-get($break-point, sm)) {
    padding-right: 1.5em;
  }

  @include media__max-width(map-get($break-point, xs)) {
    padding-right: 1em;
  }

  & > * {
    width: 56%;
    align-self: center;
    z-index: 1000;

    @include media__max-width(map-get($break-point, xl)) {
      width: 80%;
    }

    @include media__max-width(map-get($break-point, lg)) {
      width: 100%;
    }

    @include media__max-width(map-get($break-point, sm)) {
      width: 88%;
    }
  }

  h2 {
    text-align: center;
    font-size: 18vmin;
    font-weight: 400;
    letter-spacing: 1.414rem;

    @include media__max-width(map-get($break-point, md)) {
      font-size: 15vmin;
    }

    @include media__max-width(map-get($break-point, xs)) {
      font-size: 12vmin;
    }
  }

  hr {
    border: 0.5px solid map-get($colors, kati-forner--red);
    margin-top: 1.75em;
    margin-bottom: 2em;
  }

  h2,
  p {
    color: map-get($colors, kati-forner--white);
    line-height: 1;
  }

  p {
    text-align: center;
    text-transform: lowercase;
    font-size: 4.2vmin;
    letter-spacing: 0.64em;
    width: 100%;

    @include media__max-width(map-get($break-point, xs)) {
      font-size: 5.6vmin;
      letter-spacing: 0.4em;
    }
  }

  [caret] {
    opacity: 0.24;
  }

  & > div { // NOTE: this div wraps both <p> and inner <div>
    height: 25vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & > div { // caret wrapper
      text-align: center;
      margin-top: 3vmax;

      img { // caret image

      }
    }
  }
}
