main.sitemain {
  padding: 4em 0 0;

  .sitemain {
    position: absolute;
    width: 100%;
    height: 100%;

    &-wrapper {
      position: relative;
    }

    &-content {
      padding: 0 4em 4em;

      .content{
        &-title,
        &-wrapper {
          color: map-get($colors, kati-forner--white);
        }

        &-title {
          text-align: center;
          text-transform: uppercase;
          font-family: $font--Nanum;
          font-weight: 800;
          font-size: 3.6vmin;
          line-height: 1;
          letter-spacing: 1px;
          margin-bottom: 1.5em;

          &::before,
          &::after {
            content: "::"
          }

          &::before {
            padding-right: 0.25em;
          }

          &::after {
            padding-left: 0.25em;
          }
        }

        &-wrapper {
          background: kati-forner--rgba('white', 1);
          min-height: 200px; // temporary
          border-radius: 0.25em;
          overflow: hidden;
        }

        &-wrapper .gallery { // <ul>
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          padding: 4px;

          &-item { // <li>
            flex: auto;
            max-height: 250px;
            // min-width: 150px;
            width: auto;
            margin: 4px;
            border-radius: 0.25em;
            overflow: hidden;
            position: relative;

            &:last-child {
              flex: 0 0 33.3333%;
              width: auto;
            }

            img {
              width: auto;
              height: 100%;
              opacity: 0;
            }

            &-overlay,
            &-content {
              cursor: pointer;

              &.show {
                transform: translateY(0) !important;
              }

              &.hide {
                transform: translateY(200px) !important;
              }
            }

            &-overlay {
              position: absolute;
              z-index: 100;
              margin: auto;
              width: 100%;
              height: 100%;
              border-radius: 0.25em;
              background-color: kati-forner--rgba('red', 0.48);
              box-sizing: content-box;
              transition: $transition-eo;
            }

            &-plus {
              position: absolute;
              right: 0;
              bottom: 0;
              z-index: 100;
              display: block;
              height: 100%;
              width: 28%;
              font-size: 5vmax;
              color: kati-forner--rgba('cream', 0.56);
              background: kati-forner--rgba('black', 0.48);
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              &.show {
                transform: translateX(0);
              }

              &.hide {
                transform: translateX(120px);
              }
            }

            &-content {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 200;
              margin: auto 0;
              width: 72%;
              display: flex;
              justify-content: flex-end;
              flex-direction: column;
              padding-left: 1.5vmax;
              padding-bottom: 1.5vmax;
              transition: $transition-eio;

              &__title,
              &__description {
                line-height: 1.16;
                text-align: left;
              }

              &__title { // <div>
                font-size: 3vmin;
                margin-bottom: 0.5em;
              }

              &__description { // <div>
                bottom: 0;
                font-size: 2vmin;
              }
            } // END &-content
          } // END &-item
        } // END &-wrapper .gallery
      } // END .content
    } // END .sitemain &-wrapper

    &-bg {
      position: absolute;
      top: 0;
      z-index: -10;
      width: 100%;
      min-height: 100%;
      background-color: map-get($colors, kati-forner--white);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0% 40%);
    }
  }
}
